
<footer>
    <div class=" container-fluid  bg-dark text-white rounded; display:inline-block; ">
        <div class="bottom-bar" style="background-color:#007E42 ;margin-left:-14px; margin-right:-12px;  ">
            <p style="text-align:center;padding-top:10px;padding-bottom:10px; ">
                <span style="color:#bcb7f4;font-weight:bold;">Bán hàng: </span> 7:00 -23:00 &emsp;
                <span style="color:#bcb7f4;font-weight:bold;">Phone: </span> 1900.0091 &emsp;&emsp;
                <span style="color:#d4ffaa;font-weight:bold;">&emsp; &emsp;Cam kết <img style="width:20px;height:20px;" src="https://cdn-icons-png.flaticon.com/128/6785/6785304.png">:   </span>
                <span>Sản phẩm hoàn toàn chính hãng&emsp;
                &emsp;<span style="font-weight:bold;">Freeship <img style="width:30px;height:30px;" src="https://cdn-icons-png.flaticon.com/128/3161/3161537.png" alt=""> : </span>
                     hoàn toàn đơn trên 200k&emsp;&emsp;
                    <span  style="font-weight:bold;"> Giao hàng <img style="width:30px;height:30px;" src="https://cdn-icons-png.flaticon.com/128/7245/7245083.png" alt=""> :</span>
                     trong 2 giờ</span></p>
        </div>

        <div class="container-fluid;"  style="text-align:center;">

            <div class="footer-content-fluid" style="display:inline-block; text-align:left; padding-left:px">
                <h3 style="font-weight:bold; color:#d4ffaa;">CONTACT US</h3>
                <p style="margin-left:px;"> Email: Info@gmail.com</p>
                <p style="margin-left:;">  Phone: 1234567869</p>
                <p style="margin-left:"> Address: Your Address 123 street</p>
            </div>


            <div class="footer-content-fluid" style="display:inline-block;  text-align:left;">
                <h3 style="margin-left:14px; font-weight:bold; color:#8ff7f7;"> CHI NHÁNH </h3>
                <ul>
                    <li ><p style="margin-left:px;"> Khánh Hội P. 2, Q. 4, TP. Hồ Chí Minh</p></li>
                    <li ><p style="margin-left:"> Quốc Lộ 13,  Huyện Bàu Bàng, Tỉnh Bình Dương</p></li>
                    <li><p>397 Quang Trung, TP. Tuyên Quang, Tỉnh Tuyên Quang</p></li>
                </ul>
            </div>

             <div class="footer-content-fluid" style="display:inline-block; text-align:left; ">
                <h3 style="margin-left:30px; font-weight:bold; color:#f7c5f7;"> CHÍNH SÁCH </h3>
                <ul style="display:inline-block;">
                    <p> Chính sách bảo hành  </p>
                    <p style=> Chính sách đổi trả</p>
                    <p>Chính sách bảo mật </p>
                </ul>
                 <ul style="display:inline-block;">
                     <p > Chính sách trả góp  </p>
                    <p > Chính sách khui sản phẩm</p>
                    <p>Chính sách giao hàng </p>
                 </ul>
            </div>
            <div class="footer-content-fluid" style="display:inline-block;text-align:left; ">
                <h3 style="margin-left:30px; font-weight:bold; color:#ffaaaa;"> HỖ TRỢ </h3>

                 <ul style="display:inline-block;">
                     <p> Tổng đài miễn phí: 1900.1111  </p>
                    <p> Tư vấn mua hàng: 1900.2222</p>
                    <p>Góp ý, khiếu nại: 1900.3333 </p>
                 </ul>
            </div>
        </div>
        <div style="background-color:dark;">
                <p style="text-align:center"> &copy; 2025 your company . All rights reserver </p>
            </div>
    </div>

</footer>
